# Drizzle
TURSO_DATABASE_URL="file:local.db"
TURSO_AUTH_TOKEN=

# osu! OAuth
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# Discord App Info
DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=

# Discord Secrets
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

# Discord Configs
DISCORD_GUILD_ID=
DISCORD_STAFF_ROLE_ID=
DISCORD_REFEREE_ROLE_ID=
DISCORD_PLAYER_ROLE_ID=
