# Drizzle
# Replace with your DB credentials!
DATABASE_URL="libsql://db-name-user.turso.io"
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=""

# osu! OAuth
OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

# Discord App Info
DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Discord Bot
DISCORD_BOT_TOKEN=

# Discord Configs
DISCORD_GUILD_ID=
DISCORD_ROLE_ID=
