@import 'tailwindcss';

@import 'svooltip/styles.css';

@import '@fontsource/momo-trust-display';
@import '@fontsource-variable/inter/wght.css';

@plugin '@iconify/tailwind4';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Momo Trust Display', sans-serif;
	--font-inter: 'Inter Variable', sans-serif;

	--color-accent: #4969e7;
	--color-accent-dark: #314181;
	--color-background: #e8e8e8;
	--color-dark: #1e1e1e;

	--color-gray: #3a3a3a;
	--color-gray-2: #7a7a7a;
	--color-dimmed: #8e8e8e;

	--color-team-red: #d675ff;
	--color-team-blue: #f7e32a;

	--color-qualifier-gold: #ffb700;
	--color-qualifier-silver: #d3d3d3;
	--color-qualifier-bronze: #e4733b;

	--color-mod-nomod: #4babff;
	--color-mod-hidden: #ffb115;
	--color-mod-hardrock: #f65440;
	--color-mod-doubletime: #865fe3;
	--color-mod-easy: #93c278;
	--color-mod-tiebreaker: #8b97a3;

	--color-grade-ssh: #d7d7d7;
	--color-grade-ss: #d7d7d7;
	--color-grade-sh: #ffde00;
	--color-grade-s: #ffde00;
	--color-grade-a: #92dc43;
	--color-grade-b: #467be6;
	--color-grade-c: #b565de;
	--color-grade-d: #e53643;
}

html {
	--header-height: 80px;
	overflow-y: scroll;
	scroll-padding-top: var(--header-height);
	scrollbar-color: var(--color-accent) var(--color-dark);
}

body {
	scrollbar-color: var(--color-accent) transparent;
}

mjx-container svg {
	max-width: 100%;
	max-height: 100%;
}

[align='center'] {
	text-align: center;
}

[align='right'] {
	text-align: right;
}
